
body {
    background-color: #b6ecf3;
}
hr {
    border-style: none;
    border-top: 5px dotted gray ;
    width: 100px;
}
h1 {
    color: #00aaff;
    font-family: Verdana;
}
h3 {
    color: #00aaff;
    font-family: Verdana;
}